body{

    background-image: url("https://lh3.googleusercontent.com/KF_RsR8tI9aAzNe6j2dRG_rFU646gO-oeEzMTgVuDtF6aqcml2W021urdz0HRUgAMA=h900");
    background-size: cover;
}
#main{
    text-align: center;
    padding-top: 10%;

}
.container h1 {
    font-weight: 400;
    font-size: 5em;
    text-shadow: 2px 3px 5px #e8e8e8;
}
.container h4{
    font-weight: 400;
    font-size: 1.6em;
    text-shadow: 2px 2px 7px #e8e8e8;
}

hr {
  width: 400px;
}

html{
    height: 100%;
}
